* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  max-width: 1000px;
  display: grid;
  row-gap: 20px;
}
.App__header {
  justify-content: space-between;
  width: 100%;
  display: flex;
  column-gap: 20px;
}
